.header {
    background-color: #FF900E1A;
}
.navbar {
    display: flex;
    justify-content: center;
    padding-top: 26px;
    align-items: center;
}

.firsttitle {
    margin: 0px 300px 0px 50px;
    font-weight: 700;
    font-size: 45px;
}

.nav-container {
    display: flex;

}

.nav-btn {
    padding-left: 80px;
    list-style-type: none;

}

.nav-btn a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.head {
    margin-top: 80px;
    padding-bottom: 50px;
}

.banner-title {
    width: 450px;
    height: auto;
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
}

.banner-info {
    width: 800px;
    height: 52px;
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.banner-btn, .explore-btn {
    display: block;
    margin: auto;
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    padding: 17px;
    border: none;
    margin-top: 20px;
    margin-bottom: 35px;
}

.banner-image img {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 8px;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
    margin: 0 30px;
}

.feature-images img {
    display: block;
    width: 20vw;
    height: auto;
}

.feature-description {
    width: 500px;
    margin: 0 30px;
}

.feature-title {
    font-weight: 500;
    font-size: 40px;
}

.feature-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.explore-btn {
    margin: 0px;
}


.likeable-features {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
    margin: auto;
}

.likeable-title {
    font-weight: 700;
    font-size: 30px;
    padding-left: 10px;
    border-left: 5px solid #FF900E;
}

.likeable-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.likeable-box {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 25px 0px;
    padding: 15px;
    width: 80%;
    height: auto;
}

.box-title {
    font-weight: 600;
    font-size: 17px;
}

.box-description {
    font-weight: 400;
    font-size: 14px;
    color: #727272; 
}

.likeable-image {
    position: relative;
    width: 100%;
    height: auto;

}

.likeable-image img {
    display: block;
    top: 50px;
    right: 0;
    position: absolute;
    /* width: 550px; */
    width: 90%;
    height: auto;
}

.likeable-image .like {
    position: absolute;
    z-index: 2;
    margin: 0px;
    bottom: 10px;
    padding: 15 5px;
    display: block;
    /* width: 230px; */
    width: 40%;
    height: auto;
}

.like .big {
    font-size: 45px;
    font-weight: 700;
}

.like .medium {
    font-size: 15px;
}



.some-facts {
    width: 80%;
    margin: auto;
    margin-top: 150px;
}

.fact-title {
    font-weight: 700;
    font-size: 40px;
    color: #131313;
}

.fact-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.fact-boxes {
    display: flex;
    justify-content: space-evenly;
    margin: 70px 0 0 0;
    margin-top:120px;
}

.fact-box {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    padding: 50px 0 0 0;
}

.fact-box img {
    display: block;
    margin: auto;
}

.fact-box h2 {
    font-weight: 600;
    font-size: 30px;
    color: #424242;
    text-align: center;
}

.fact-box p {
    font-weight: 600;
    font-size: 15px;
    color: #727272;
    text-align: center;
}


.our-sponsors {
    width: 80%;
    margin: auto;
    margin-top: 150px;
}

.sponsor-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.sponsor-description {
    text-align: center;
    width: 60%;
    margin: auto;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.sponsor-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0 0 0;
}

.sponsor-image img {
    width: 100px;
    height: auto;
}



.footer {
    width: 70%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #FFF4E7;
    height: 50px;
}

.footer-text {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: #424242;
    padding: 18px;
}



@media only screen and (max-width: 567px) {

    /* header section */
    
    

    .header {
        width: 100%;
    }
    .navbar {
        flex-direction: column;
    }

    .firsttitle {
        margin: auto;
        font-size: 30px;
        margin-bottom: 30px;
    }

    .nav-container  {
        padding: 0px;
        flex-direction: column;
        margin: auto;
    }

    .nav-btn {
        text-align: center;
        padding: 0px;
    }

    .head {
        margin-top: 30px;
    }

    .banner-title {
        width: 90%;
        font-size: 30px;
        margin-bottom: 30px;
    }

    .banner-info {
        width: 90%;
        height: 100px;
        font-size: 15px;
    }

    /* main section */

    /* features */

    .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 70px 0px;
    }

    .feature-description {
        width: 80%;
        margin: 0 30px;
    }

    .feature-images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }

    .feature-images img {
        display: block;
        width: 80%;
        height: auto;
    }

    /* likeable features */

    .likeable-features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: auto;
        margin: auto;
    }

    .likeable-title {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .likeable-info {
        text-align: center;
        margin: auto;
    }

    .likeable-box {
        margin: 25px auto;
    }

    .likeable-image {
        position: static;
        width: 90%;
        height: auto;
    }
    
    .likeable-image img {
        position: static;
        width: 90%;
        height: auto;
        margin: auto;
    }
    
    .likeable-image .like {
        position: static;
        margin: auto;
        padding: 10px 5px;
        display: block;
        width: 40%;
        height: auto;
        margin-top: 20px;
    }

    .like .big {
        font-size: 15px;
    }

    .like .medium {
        font-size: 10px;
    }

    .some-facts {
        width: 90%;
        margin: auto;
        margin-top: 40px;
    }

    .fact-title {
        font-size: 35px;
        text-align: center;
    }
    
    .fact-description {
        font-size: 14px;
        text-align: center;
    }

    .fact-boxes {
        flex-direction: column;
        align-items: center;
        margin: 30px 0 0 0;
    }

    .fact-box {
        border: 1px solid #FF900E;
        border-radius: 8px;
        width: 300px;
        height: 200px;
        padding: 50px 0 0 0;
        margin-bottom: 20px;
    }

    .our-sponsors {
        width: 90%;
        margin-top: 40px;
    }
    
    .sponsor-title {
        font-size: 35px;
    }
    
    .sponsor-description {
        width: 70%;
        font-size: 14px;
    }

    .sponsor-images {
        flex-direction: column;
        margin: 20px 0 0 0;
    }

    .sponsor-image img {
        width: 95%;
        display: block;
        margin: auto;
        margin-top: 25px;
    }

    .footer {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 40px;
        height: 80px;
    }


}